<h1>A digital transformation is coming. Are you ready?</h1>
<p>We believe it's not the tools we have, but how we learn to use it. Technology is more than just smartboards and computers. </p>
<p>
<p>WunderClass cuts down on your mark making, grading, and classroom administration by 35%, so you have more time to focus on the most important part of your job - your students.</p>
