<p>We know that teaching is one of the most difficult jobs in the world.</p>
That's why we designed a tool to save time, stay organized, and make your life easier.
<h1>Welcome to the future of classroom management.</h1>
<h2>Made for teachers, By teachers.</h2>
<p>Coming soon! Sign up for the latest updates now.</p>
<%= render 'featured_product' %>
